.form-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: 600px;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    
    margin-top: 4.95%;
    column-gap: 0px;
    /* width: 100vh; */
    /* background-color: yellow; */
}
.form-image{
    width: 100%;
    height: 100%;
    border-radius : 10px 0px 0px 10px;

}

.form-content{
    display: grid;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.178);
    padding-top: 30%;
    border-radius : 0px 10px 10px 0px;
}
.form-field{
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    height: 35px;
}
.form-field:focus{
    border:none;
    outline: none;
    transform: scale(1.2);
}
.form-btn{
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background-color: rgb(0, 47, 255);
    height: 35px;
    border-radius: 5px;
    margin-top: 40px;
    color: white;
}

.form-btn:hover{
    transform: scale(1.2);
}

.form-btn:visited{
    background-color: violet;
}
.form-link{
    color: white;
    text-decoration: underline;
    font-size: larger;
    margin:0px;
    font-weight:600;
    text-align: right;
    padding: 0px;
    
}
.form-link:hover{
    cursor: pointer;
}

.form-background{
    width: 100%;
    height: 100vh;
    background-image: url("login_back.jpg");;
    background-size: cover;
    background-repeat: no-repeat;

}